<% @page_title = "Show Subject" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 subjects show">
    <h2>Show Subject</h2>
    
      <div class="table-responsive">
        <table class="table table-bordered" summary="Subject detail view">
          <tr>
            <th>Name</th>
            <td><%= @subject.name %></td>
          </tr>
          <tr>
            <th>Position</th>
            <td><%= @subject.position %></td>
          </tr>
          <tr>
            <th>Visible?</th>
            <td><%= @subject.visible ? 'true' : 'false' %></td>
          </tr>
          <tr>
            <th>Created</th>
            <td><%= @subject.created_at %></td>
          </tr>
          <tr>
            <th>Updated</th>
            <td><%= @subject.updated_at %></td>
          </tr>
        </table>
      </div>
    
    </div>
</div>

