<!DOCTYPE html>
<html>
  <head>
    <title>Live Magazine | <%= @page_title || "Admin" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="header"> 
      <%= link_to root_path, class: 'logo-icon' do %>
        <h1><i class="fa fa-newspaper-o"></i>  Live Magazine Admin</h1>
      <% end %>
    </div><!-- header --> 
    
    <div class="menu"> 
      <ul> 
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Manage Content", :controller => 'access', :action => 'index' %></li>
          <li> <%= link_to "Admin Logout", :controller => 'access', :action => 'logout' %></li> 
        <% else %>
          <li><%= link_to "Contact", :controller => 'contacts', :action => 'new' %></li> 
          <li><%= link_to "Admin Login", :controller => 'access', :action => 'index' %></li> 
        <% end %>
      </ul>  
      <div class="icon-close"><i class="fa fa-times fa-2x"></i></div>
    </div><!-- menu --> 
    
    <div class="icon-menu"><i class="fa fa-bars fa-2x"></i></div>

    
    
    
        <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
    <div class="container">
        <div class="content">
          <%= yield %>
        </div>
    </div>
  
    <div id="footer">
      <p id="copyright">&copy;Live Magazine</p>
    </div>  
  
  </body>
</html>
