<!DOCTYPE html>
<html>
  <head>
    <title>Lives Magazine<%= " | #{@page_title}" if @page_title %></title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="header">
      <div class="container">

        <ul class="menu">
          <li>
            <%= link_to root_path, class: 'logo-icon' do %>
              <h1><i class="fa fa-newspaper-o"></i> Lives Magazine</h1>       
            <% end %>
          </li>
          <li>
            <%= link_to "Admin Login", :controller => 'access', :action => 'index' %>
          </li>
        </ul>
      </div>
    </div>

    
    <div id="main">
      <div id="navigation">
        <%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
    
    <div id="footer">
      <p id="copyright">&copy;CMS</p>
    </div> 
    
  </body>
</html>
